body {
    font-family: var(--main-text-fonts);
    font-style: normal;
    font-weight: 400;
    @include fonts-property (16px, 1.12);
    color: var(--main-text-cl);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include for-size (mobile) {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    @include for-size (portrait) {
        width: 640px;
    }
    @include for-size (tablet) {
        width: 768px;
    }
    @include for-size (desktop) {
        width: 1024px;
    }
    @include for-size (desktopHd) {
        width: 1440px;
    }
}

.section {
    padding: 40px 0;

    @include for-size(tablet) {
        padding: 50px 0;
    }
    @include for-size(desktop) {
        padding: 80px 0;
    }
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    font-family: var(--heading-text-fonts);
    font-weight: 300;
    @include fonts-property(24px, 1.16);
    letter-spacing: 2px;

    &::after {
        content: '';
        display: inline-block;
        margin-top: 20px;
        width: 100px;
        height: 8px;
        background-color: currentColor;
    }

    @include for-size(portrait) {
        @include fonts-property(48px, 1.16);
    }
}

.centered {
    display: flex;
    justify-content: center;
}
