.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 300ms linear;
    pointer-events: none;
    z-index: 10;
}
.backdrop--is-show {
    opacity: 1;
    pointer-events: all;
}
.backdrop-callback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    opacity: 0;
    transition: opacity 250ms linear;
    pointer-events: none;
}
.backdrop-callback-is-show {
    opacity: 1;
    pointer-events: all;
}