.page-footer {
    padding: 85px 0 65px 0;
    position: relative;
    background-color: var(--accent-cl);

    @include for-size(tablet) {
        padding: 115px 0 55px 0;
    }
    @include for-size(desktop) {
        padding: 160px 0 125px;
    }
}
.container {
}
.page-footer__box {
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 230px;
    background-color: var(--accent-cl);
    border-radius: 3px;
}
.page-footer__text-call {
    display: inline-block;
    margin-bottom: 40px;
    @include fonts-property (20px, 1.1);
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    color: var(--white-cl);

    @include for-size(portrait) {
        @include fonts-property (24px, 1.08);
        text-align: start;
    }
    @include for-size(tablet) {
        @include fonts-property (36px, 0.89);
    }
    @include for-size(desktop) {
        margin-bottom: 80px;
    }
    @include for-size(desktopHd) {
        max-width: 615px;
        @include fonts-property (24px, 1.33);
    }
}
.list-social {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-size(portrait) {
        flex-direction: row;
    }
    @include for-size(tablet) {
        margin-bottom: 70px;
    }
    @include for-size(desktop) {
        margin-bottom: 60px;
    }
}
.list-social__item {

    &:not(:last-child) {
        margin-bottom: 10px;

        @include for-size(portrait) {
            margin: 0;
        }
    }

    @include for-size(portrait) {
        border: 1px solid var(--secondary-cl);

        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
    }
    @include for-size(tablet) {
        border: 1px solid #7EBF84;
    }
}
.list-social__link {
    display: inline-block;

    @include for-size(portrait) {
        padding: 20px 63px;
    }
    @include for-size(tablet) {
        padding: 25px 79px;
    }
    @include for-size(desktop) {
        padding: 20px 111px;
    }
    @include for-size(desktopHd) {
        padding: 25px 163px;
    }
}
.list-social__icon {
    width: 24px;
    height: 24px;
    fill: var(--white-cl);
}

.list-meta {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    @include for-size(portrait) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -20px;
    }
}
.list-meta__item {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    @include for-size(portrait) {
        text-align: start;
        
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
        &:first-child {
            margin-right: 270px;

            @include for-size(desktop) {
                margin: 0 120px 0 0;
            }
            @include for-size(desktopHd) {
                margin: 0 200px 0 0;
            }
        }
        &:nth-child(3) {
            margin-right: 215px;

            @include for-size(desktop) {
                margin: 0 50px 0 0;
            }
            @include for-size(desktopHd) {
                margin: 0 200px 0 0;
            }
        }
    }
    @include for-size(desktop) {
        &:nth-child(2) {
            margin: 0 120px 0 0;

            @include for-size(desktopHd) {
                margin: 0 200px 0 0;
            }
        }
    }
}
.page-footer__meta-title {
    margin-bottom: 15px;
    font-family: var(--heading-text-fonts);
    font-weight: 700;
    @include fonts-property (18px, 1.16);
    letter-spacing: 2px;
    color: var(--secondary-cl);
}
.list-meta__link {
    @include fonts-property (16px, 1.25);
    color: var(--white-cl);
}