.page-header {
    padding: 7px 0;
    background-color: var(--accent-cl);

    @include for-size(portrait) {
        padding: 17px 0;
    }
}
.page-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo--header {
    position: relative;
    z-index: 20;
}
.btn-menu {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 14px;
    border-radius: 3px;
    border: none;
    background-color: var(--white-cl);
    cursor: pointer;
    z-index: 11;
}
.btn-menu__icon-burger,
.btn-menu__icon-cross {
    width: 13px;
    height: 14px;
}
.btn-menu__icon--is-hidden {
    display: none;
}