.section-news {
    background-color: var(--secondary-cl);
}
.section-news__title {
    color: var(--accent-cl);
}
.list-news {

    @include for-size(portrait) {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // margin: -15px;
        display: flex;
        flex-flow: column wrap;
        max-height: 1765px;
        align-items: center;
    }

    @include for-size(desktop) {
        max-height: 1445px;
    }
    @include for-size(desktopHd) {
        max-height: 1230px;
    }
}
.list-news__item {
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    width: 100%;
    height: max-content;

    &:not(:last-child) {
        margin-bottom: 20px;

        @include for-size(portrait) {
            margin-bottom: 30px;
        }
    }

    @include for-size(portrait) {
        margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
    }
    @include for-size(desktop) {
        &:nth-child(1) {
            order: 1;
        }
    }
    @include for-size(desktopHd) {
        &:nth-child(4) {
            order: -1;
        }
        &:nth-child(2n + 1) {
            order: -1;
        }
    }
    
}
.list-news__link {
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-image: url(../images/svg/info-btn-white.svg);
        background-repeat: no-repeat;
        background-size: 40px 45px;
        background-position: center center;
        opacity: 0;
        transition: opacity 250ms linear;
    }

    &:hover::before,
    &:focus::before {
        opacity: 1;
        // background-color: rgba(107, 176, 113, 0.3);
    }
}
.list-news__pic {
    display: block;
    transition: outline 250ms linear;
}
.list-news__link:hover .list-news__pic,
.list-news__link:focus .list-news__pic {
    outline: 10px solid var(--accent-cl);
}
.list-news__subhead {
    margin: 0;
    font-family: var(--heading-text-fonts);
    font-weight: bold;
    @include fonts-property(18px, 1.16);
    letter-spacing: 2px;
    color: currentColor;
}

.list-news__subhead--design {
    width: 280px;
    padding: 10px 20px 10px 20px;
    background-color: var(--white-cl);
    color: var(--dark-cl);
    transition: transform 250ms linear,
    color 250ms linear,
    background-color 250ms linear;
}

.list-news__link:hover .list-news__subhead--design,
.list-news__link:focus .list-news__subhead--design {
    transform: translateY(-100%);
    background-color: var(--accent-cl);
    color: var(--secondary-cl);
}