.section-project {
    background-image: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);

    @include for-size(tablet) {
        padding: 80px 0;
    }
}
.section-project__title {
    margin-bottom: 40px;
    color: var(--white-cl);

    @include for-size(tablet) {
        margin-bottom: 80px;
    }
}
.list-project {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-size(tablet) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.list-project__item {
    max-width: 240px;
    width: 100%;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
    @include for-size(portrait) {
        max-width: 447px;
    }
    @include for-size(tablet) {
        margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
    }
}
.list-project__link {
    position: relative;
    display: block;

    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 220px;
        height: 200px;
        background-color: #f9f6e5d8;
        background-image: url(../images/svg/info-button.svg), url(../images/svg/search.svg);
        background-repeat: no-repeat;
        background-position: 75px center, 115px center;
        opacity: 0;
        transition: opacity 250ms linear;

        @include for-size(portrait) {
            width: 430px;
            height: 380px;
            background-position: 170px center, 230px center;
            background-size: 50px;
        }
        @include for-size(tablet) {
            width: 90%;
            height: 90%;
            background-position: 110px center, 165px center;
            background-size: 40px;
        }
        @include for-size(desktop) {
            background-position: 150px center, 215px center;
            background-size: 50px;
        }
    }

    &:hover::before {
        opacity: 1;
    }
}
.list-project__name {
    margin-top: 20px;
    font-family: var(--heading-text-fonts);
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 2px;
    color: var(--accent-cl);

    @include for-size(portrait) {
        @include fonts-property(20px, 1.15);
    }
}