.section-review {
    padding: 60px 0;
}
.section-review__icon {
    width: 40px;
    height: 34px;
    fill: var(--accent-cl);
}
.section-review__centered {
    margin-bottom: 90px;

    @include for-size(portrait) {
        margin-bottom: 40px;
    }
}
.review {
    margin-bottom: 40px;
    color: var(--dark-cl);
}
.review__text {
    margin-bottom: 15px;
    text-align: center;
    font-family: var(--heading-text-fonts);
    @include fonts-property (24px, 1.08);   

    @include for-size(portrait) {
        margin-bottom: 40px;
        @include fonts-property (34px, 1.06);
    }
}
.review__name {
    font-family: var(--heading-text-fonts);
    font-weight: bold;
    @include fonts-property (20px, 1.15);
    text-align: center;
    letter-spacing: 2px;
}