.section-service {
    text-align: center;

    @include for-size(portrait) {
        padding-bottom: 0;
    }
    @include for-size(desktopHd) {
        padding: 0;
    }
}
.section-service__container {
    @include for-size(desktopHd) {
        display: flex;
        align-items: center;
    }
}
.section-service__box {
    @include for-size(desktopHd) {
        margin-right: 60px;
        width: 390px;
    }
}
.section-service__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-text-fonts);
    font-weight: 300;
    @include fonts-property(24px, 1.16);
    letter-spacing: 2px;
    color: var(--accent-cl);

    @include for-size(mobile-only) {
        &::after {
            content: '';
            display: inline-block;
            margin-top: 20px;
            width: 100px;
            height: 8px;
            background-color: currentColor;
        }
    }

    @include for-size(portrait) {
        margin-bottom: 10px;
        @include fonts-property(48px, 1.16);
    }
    @include for-size(tablet) {
        margin-bottom: 40px;
    }
    @include for-size(desktop) {
        margin-bottom: 60px;
    }
    @include for-size(desktopHd) {
        margin-bottom: 65px;
        align-items: start;
    }
}
.section-service__desc--medium {
    @include fonts-property(20px, 1.2);
    color: var(--dark-cl);

    @include for-size(portrait) {
        @include fonts-property(24px, 1);

        &::after {
            content: '';
            display: inline-block;
            margin-top: 20px;
            width: 100px;
            height: 8px;
            background-color: currentColor;

            @include for-size(tablet) {
                margin-top: 30px;
            }
            @include for-size(desktop) {
                margin-top: 40px;
            }
        }
    }
    @include for-size(tablet) {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    @include for-size(desktop) {
        margin-bottom: 35px;
    }
    @include for-size(desktopHd) {
        display: inline-block;
        text-align: start;
    }
}
.section-service__desc--bottom {
    margin-bottom: 40px;

    @include for-size(portrait) {
        @include fonts-property(18px, 1.33);
    }
    @include for-size(tablet) {
        margin-bottom: 30px;
        text-align: start;
    }
    @include for-size(desktop) {
        width: 610px;
        text-align: start;
    }
    @include for-size(desktopHd) {
        width: 355px;
    }
}
.list-service {
    @include for-size(portrait) {
      display: flex;
      flex-wrap: wrap;
    }
}
.list-service__item {
    padding: 20px;
    text-align: center;
    border: 1px solid var(--secondary-cl);

    @include for-size(portrait) {
        flex-basis: calc(100% / 2);
    }
    @include for-size(desktop) {
        flex-basis: calc(100% / 4);
    }
}
.list-service__link {
    position: relative;
    display: inline-block;
    padding: 80px 0;
    width: 100%;
    transition: outline 250ms linear;

        &::before {
            content: '';
            display: block;
            margin-bottom: 30px;
            width: 100%;
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @include for-size(desktop) {
                height: 40px;
            }
        }

        &:hover,
        &:focus {
            outline: 4px solid var(--accent-cl);
        }
}
.list-service__link--icon-strategy::before {
    background-image: url(../images/icons/strategy.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/strategy@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/strategy@3x.png);
    }
}
.list-service__link--icon-analysis::before {
    background-image: url(../images/icons/analysis.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/analysis@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/analysis@3x.png);
    } 
}
.list-service__link--icon-social::before {
    background-image: url(../images/icons/social.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/social.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/social.png);
    }
}
.list-service__link--icon-development::before {
    background-image: url(../images/icons/development.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/development.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/development.png);
    }
}
.list-service__link--icon-content::before {
    background-image: url(../images/icons/content.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/content.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/content.png);
    }  
}
.list-service__link--icon-design::before {
    background-image: url(../images/icons/design.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/design.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/design.png);
    } 
}
.list-service__link--icon-target::before {
    background-image: url(../images/icons/digital.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/digital.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/digital.png);
    }
}
.list-service__link--icon-product::before {
    background-image: url(../images/icons/product.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/icons/product.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/icons/product.png);
    }
}
.list_service__title {
    margin-bottom: 20px;
    font-family: var(--heading-text-fonts);
    font-weight: 700;
    @include fonts-property(16px, 1.18);
    letter-spacing: 2px;
    color: var(--dark-cl);
}
.list_service__more {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 0 20px;
    opacity: 0;
    transition: opacity 250ms linear;
}
.list-service__link:hover .list_service__more,
.list-service__link:focus .list_service__more {
    opacity: 1;
}
.list_service__desc {
    font-family: var(--secondary-text-fonts);
    color: var(--main-text-cl);

    @include for-size(desktop) {
        font-size: 14px;
    }
}
.list_service__more--text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-text-fonts);
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 2px;
    color: var(--accent-cl);
}
.list_service__icon {
    margin-left: 5px;
    width: 20px;
    height: 15px;
    fill: currentColor;
}